<% content_for(:navbar_text) { "WISH LIST" } %>
<div class="container">
  <%= form_tag wish_list_index_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "wish-form-control",
      placeholder: "Search for you childs name"%>
    <% end %>

    <div class="new-wish-card" data-toggle="modal" data-target="#new-wish-modal">
      <i class="fas fa-plus" ></i>
    </div>

    <br>

  <div class="all_wishes">
    <% @wish_lists.each do |wl| %>
      <div class="wish-card">
        <%= cl_image_tag wl.photo.key, height: 50, width: 50, crop: :fill%>
          <div class="wish-card-info">
            <h2><%= wl.title %></h2>
            <% if current_user.parent.nil? %>
              <h3><%= wl.children_who_liked %></h3>
              <%= wl.likes.count %>
            <% else %>
              <%= simple_form_for(Like.new) do |f| %>
                <%= f.input :wish_list_id, :as => :hidden, :input_html => { :value => wl.id } %>
                <%= f.submit %>
              <% end %>
              <%= wl.likes.count %>

            <% end %>
          </div>
          <div class="wish-card-button">
            <div class="coin"><h6><%= wl.amount %></h6></div>
          </div>
      </div>
    <% end %>
    <%= link_to "Back", :back %>
  </div>
</div>
