<% content_for(:navbar_text) { "UPDATE PROFILE" } %>

<div class="edit-form">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>



    <%= f.input :first_name,
                hint: "Leave blank if you do not want to update",
                required: false,
                input_html: { autocomplete: "first-name" } %>
    <%= f.input :last_name,
                hint: "Leave blank if you do not want to update",
                required: false,
                input_html: { autocomplete: "last-name" } %>
    <%= f.input :password,
                required: false,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "password-confirmation" } %>
    <div class="form-group">
      <label class="control-label radio optional">Avatar</label>
      <input type="hidden" name="user[avatar]" value="">
      <div class="avatar-choices">
        <% User::AVATAR_NAMES.each do |avatar| %>
          <input type="radio" class="d-none" value="<%= avatar %>" name="user[avatar]" id="user_avatar_<%= avatar %>">
          <label for="user_avatar_<%= avatar %>">
            <%= image_tag avatar, style: "height: 100px;"%>
          </label>
        <% end %>
       </div>
    </div>
  </div>
    <%= f.input :current_password,
                required: true,
                input_html: { autocomplete: "current_password" } %>

  <div class="form-actions">
    <%= f.button :submit, "Update account" %>
  </div>
<% end %>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
