<% content_for(:navbar_text) { "MY FAMILY" } %>
<div class="container">

  <h1 id="famfam"></h1>

  <% @childrens.each do |user| %>
    <div class="family-card">
      <div><%= image_tag user.avatar.nil? ? 'unicorn.png' : user.avatar, class: 'avatar-icon' %></div>
      <p><%= user.first_name.capitalize %></p>
      <div class="gold-coins" style="background-image: <%= image_url('coin.png') %>">
        <div class="coin-amount"><%= user.reward_amount.nil? ? '0' : user.reward_amount %></div>
        </div>
      </div>
  <% end %>

  <% if current_user.is_parent? %>
  <div class="button-position">
    <div class="new-family-button" data-toggle="modal" data-target="#exampleModal">
     Add Child
    </div>
  </div>
<% end %>
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Add Child</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= simple_form_for User.new, url: create_child_path, method: :post do |f| %>
          <%= f.input :first_name, required: true, placeholder: "Child name" %>
          <%= f.input :email, required: true, placeholder: "No email? Use tiny@heroes.com" %>
          <%= f.input :password, required: true, placeholder: "Child password" %>
      <div class="form-group">
        <label class="control-label radio optional">Avatar</label>
        <input type="hidden" name="user[avatar]" value="">
        <div class="avatar-choices">
          <% User::AVATAR_NAMES.each do |avatar| %>
            <input type="radio" class="d-none" value="<%= avatar %>" name="user[avatar]" id="user_avatar_<%= avatar %>">
            <label for="user_avatar_<%= avatar %>">
              <%= image_tag avatar, required: true, style: "height: 50px;", class:"avatar" %>
            </label>
          <% end %>
        </div>
      </div>
          <%= f.submit "Create", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

      <!-- buttons for pop up, might need! -->

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cance</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->


    </div>
  </div>
</div>
</div>

