<% content_for(:navbar_text) { "FAMILY" } %>
<div class="container">
  <h1>Your Family</h1>
  <% @childrens.each do |user| %>
    <div class="card">
      <%= user.first_name %>
       <%= user.last_name %>
      <%= user.email %>
      <%= user.reward_amount %>
    </div>
  <% end  %>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> + </button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="login-form">
        <%= form_with url: create_child_path, method: :post do %>
        <div class="form-inputs">
        <%= text_field_tag :first_name %>
        <%= text_field_tag :email %>
        <%= text_field_tag :password %>
       </div>
        <div class="form-actions">
          <%= submit_tag "Invite Child" %>
        </div>
  <% end %>
</div>
      </div>

      <!-- buttons for pop up, might need! -->

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cance</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->


    </div>
  </div>
</div>
</div>

