<% content_for(:navbar_text) { "FAMILY" } %>
<div class="container">
  <p>Your Family<p>
  <% @childrens.each do |user| %>
      <div class="family-card">
      <div style="width:80px;"><img src="https://image.flaticon.com/icons/svg/477/477199.svg"></div>
      <p><%= user.first_name %></p>

<% if user.reward_amount == 0 %>
      <div class="reward-low">15</div>
      <% elsif user.reward_amount == 100 %>
      <div class="reward-medium">100</div>
      <% else %>
      <div class="reward-high">200</div>
<% end %>
      </div>
  <% end  %>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> + </button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Child</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding:5px!important;">
       <div class="login-form d-flex justify-content-center">
        <%= simple_form_for User.new, url: create_child_path, method: :post do |f| %>
          <%= f.input :first_name %>
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>

      <!-- buttons for pop up, might need! -->

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cance</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->


    </div>
  </div>
</div>
</div>

