<% content_for(:navbar_text) { "MY FAMILY" } %>
<div class="container">

  <h1 id="famfam"></h1>

  <% @childrens.each do |user| %>
    <div class="card">
      <%= user.first_name %>
      <%= user.last_name %>
      <%= user.email %>
      <%= user.reward_amount %>
    </div>

      <div class="family-card">
      <div style="width:80px;"><img src="https://image.flaticon.com/icons/svg/477/477199.svg"></div>
      <p><%= user.first_name %></p>

<% if user.reward_amount == 0 %>
      <div class="reward-low">15</div>
      <% elsif user.reward_amount == 100 %>
      <div class="reward-medium">100</div>
      <% else %>
      <div class="reward-high">200</div>
<% end %>
      </div>
  <% end  %>




<div class="new-family-button" data-toggle="modal" data-target="#exampleModal">
  <i class="fas fa-plus" ></i>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Add Child</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= simple_form_for User.new, url: create_child_path, method: :post do |f| %>
          <%= f.input :first_name, required: true %>
          <%= f.input :email, required: true %>
          <%= f.input :password, required: true %>
      <div class="form-group">
        <label class="control-label radio optional">Avatar</label>
        <input type="hidden" name="user[avatar]" value="">
        <div class="avatar-choices">
          <% User::AVATAR_NAMES.each do |avatar| %>
            <input type="radio" class="d-none" value="<%= avatar %>" name="user[avatar]" id="user_avatar_<%= avatar %>">
            <label for="user_avatar_<%= avatar %>">
              <%= image_tag avatar, required: true, style: "height: 50px;", class:"avatar" %>
            </label>
          <% end %>
        </div>
      </div>
          <%= f.submit "Create", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

      <!-- buttons for pop up, might need! -->

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cance</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->


    </div>
  </div>
</div>
</div>

