<div class="container">
  <%= "User Profile" %>
  <div class="UserName"> <h3><%=  current_user.first_name%></h3></div>
    <% if current_user.avatar %>
    <%= image_tag current_user.avatar, height: 150, width: 150, crop: :fill %>
    <% else %>
    <%= image_tag ("default.png"), height: 150, width: 150, crop: :fill %>
    <% end %> <br>


 <h6>Missions</h6>
    <% current_user.missions.where(completed: false).each do |mission| %>
    <% end %>
  </div>
    <%= link_to 'Edit Profile', edit_user_registration_path, class:"EditProfile"%> <br>
    <%= link_to 'Dashboard', missions_path, class:"Dashboard"%> <br>
    <%= link_to 'Wish List', wish_list_index_path(current_user), class:"WishList"%>
  </div>
</div>
