<div class="navbar-title"><h4><% content_for(:navbar_text) { "MISSIONS" } %></h4></div>

<div class="container">
  <div class="navbar-title"></div>

    <div class="task-cards">
      <div class="button-card" data-toggle="modal" data-target="#new-mission-modal">
        <i class="fas fa-plus" ></i>
      </div>
      <div class="pending-tasks"><h1>Pending missions</h1>
        <% @missions.each do |mission| %>
          <div class="task-card">

            <div class="task-icon">
              <i class="fas fa-utensils"></i>
            </div>

            <div class="task-card-info">
              <h2><%= mission.name %></h2>
              <p><%= mission.description %></p>
              <h3>Bobby</h3>
            </div>

            <div class="task-card-button">
              <div class="coin"><h6><%= mission.reward %></h6></div>
              <p><%= mission.completed %></p>
            </div>

          </div>
        <% end %>
      </div>
    </div>
    <div class="favourite-tasks"><h1>Favourites</h1></div>
  </div>

<div class="modal fade" id="new-mission-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Create a new mission</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for Mission.new do |f| %>
          <%= f.input :name, required: true, label: 'Title', placeholder: 'Laundry' %>
          <%= f.input :description, label:'Useful tips', placeholder: 'Wash the whites (program: cottons at 60 C)', input_html: { maxlength: 91 }%>
          <%= f.input :reward, required: true, placeholder: '20', input_html: { required: true }, hint: 'The average reward is 20 coins/task ≈ 50p'%>
          <%= f.input :user_id, label:'Assign to', as: :radio_buttons, collection: [['Bobby'], ['Marta']]%>
          <%= f.submit "Create", class: "btn btn-primary" %>
        <% end  %>
      </div>

      <!-- buttons for pop up, might need! -->

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cance</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->

    </div>
  </div>
</div>
</div>

