<div class="navbar-title"><h4 id="mismis"><% content_for(:navbar_text) { "MISSIONS" } %></h4></div>
  <div class="container">
    <div class="navbar-title"></div>
      <div class="task-cards">
        <% if current_user.is_parent? %>
        <div class="button-card" data-toggle="modal" data-target="#new-mission-modal">
          <i class="fas fa-plus" ></i>
        </div>
        <% end  %>

        <div class="pending-tasks">
          <% if @missions.any? %>
          <h1>Completed missions</h1>
            <% @missions.each do |mission| %>
              <div class="task-card <%= mission.verify? ? 'verified': 'completed' %>">
                <div class="task-mission.user.first_namemission.user.first_namemission.user.first_namemission.user.first_nameicon">
                  <% if mission.icon %>
                    <%= image_tag mission.icon, height: 70, width: 70, crop: :fill %>
                  <% end %>
                </div>
                <div class="task-card-info">
                  <h2><%= mission.name.capitalize %></h2>
                  <p><%= mission.description %></p>
                  <% if mission.user && mission.user != current_user %>
                  <h3> <%= mission.user.first_name.capitalize %></h3>
                  <% end %>
                  <% if mission.user && mission.user == current_user && !mission.completed %>
                    <%= link_to 'Done', mark_complete_mission_path(mission), method: :post, class: "done-button" %>
                  <% end %>
                  <% if mission.user && mission.user.parent == current_user && mission.completed? && !mission.verify? %>
                    <%= link_to 'Verify', mark_verify_mission_path(mission), method: :post, class: "verify-button" %>
                  <% end %>
                </div>
                <div class="task-card-button">
                  <div class="coin"><h6><%= mission.reward %></h6></div>
                  <p><%= mission.completed %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="pending-tasks">
          <% if @not_completed_missions.any? %>
          <h1>Pending missions</h1>
            <% @not_completed_missions.each do |mission| %>
              <div class="task-card not-completed">
                <div class="task-mission.user.first_namemission.user.first_namemission.user.first_namemission.user.first_nameicon">
                  <% if mission.icon %>
                    <%= image_tag mission.icon, height: 70, width: 70, crop: :fill %>
                  <% end %>
                </div>
                <div class="task-card-info">
                  <h2><%= mission.name.capitalize %></h2>
                  <p><%= mission.description %></p>
                  <% if mission.user && mission.user != current_user %>
                  <h3> <%= mission.user.first_name.capitalize %></h3>
                  <% end %>
                  <% if mission.user && mission.user == current_user && !mission.completed %>
                    <%= link_to 'Done', mark_complete_mission_path(mission), method: :post, class: "done-button" %>
                  <% end %>
                  <% if mission.user && mission.user.parent == current_user && mission.completed? && !mission.verify? %>
                    <%= link_to 'Verify', mark_verify_mission_path(mission), method: :post, class: "verify-button" %>
                  <% end %>
                </div>
                <div class="task-card-button">
                  <div class="coin"><h6><%= mission.reward %></h6></div>
                  <p><%= mission.completed %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="favourite-tasks">
        <% if @favourites.any? %>
          <h1>Favourites</h1>
        <% end %>
      </div>
    </div>
    <div class="modal fade" id="new-mission-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Create mission</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for Mission.new do |f| %>
              <%= f.input :name, required: true, label: 'Title', placeholder: 'Laundry'%>
              <%= f.input :description, label:'Useful tips', placeholder: 'Wash the whites (program: cottons at 60 C)', input_html: { maxlength: 91 }%>
              <%= f.input :reward, required: true, placeholder: '20', input_html: { required: true }, hint: 'The average reward is 20 coins/task ≈ 50p'%>
              <%= f.input :user_id, required: true, label:'Assign to', as: :radio_buttons, collection: current_user.children, label_method: :first_name %>
              <div class="mission-group">
                <label class="control-label radio optional"></label>
                <input type="hidden" name="mission[icon]" value="">
                <% Mission::MISSION_ICON.each do |icon| %>
                  <input type="radio" class="d-none" value="<%= icon %>" name="mission[icon]" id="mission_icon_<%= icon %>">
                  <label for="mission_icon_<%= icon %>">
                    <%= image_tag icon, style: "height: 50px;", class: "icon" %>
                  </label>
                <% end %>
              </div>
              <%= f.submit "Create", class: "btn btn-primary" %>
            <% end  %>
          </div>
        </div>
      </div>
    </div>
</div>

